@charset "ISO-8859-1";

body {
  width: 960px;
}

h1 {
  text-align: center;
}

#datos, #descripcion {
  float: left;
  padding: 0;
  margin: 0;
}

#datos {
 width: 260px;
}

#descripcion {
  width: 700px;
}

#contenido {
  list-style-type: none;
  padding: 0;
}

#contenido li {
  float: left;
  width: 33%;
}